.wrap {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  align-items: center;

  .Filter {
    display: flex;
    padding: 10px 5px;
    align-self: baseline;

    div {
      width: 30px;
      height: 30px;
      background-color: lightgrey;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

h1 {
  background-color: lightgrey;
  margin-bottom: 10px;
  width: calc(100% - 30px);
  padding: 10px 10px;
}
.bundeslaender-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;

  a {
    text-decoration: none;
    color: black;
  }

  .budesland-box {
    border: 10px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    margin: 5px;

    h2 {
      padding: 10px 10px 0px 10px;
      margin: 0px;
    }

    h3 {
      padding: 0px 10px 10px 10px;
      margin: 0px;
      font-weight: 400;
      color: gray;
    }
  }
}
