.wrap {
  display: flex;
  flex-direction: column;
}
.bundeslaender-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 800px;

  a {
    text-decoration: none;
    color: black;
  }

  .budesland-box {
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;

    h2 {
      padding: 10px 10px 0px 10px;
      margin: 0px;
    }

    h3 {
      padding: 0px 10px 10px 10px;
      margin: 0px;
      font-weight: 400;
      color: gray;
    }
  }
}
