/* You can add global styles to this file, and also import other style files */
body {
  margin: 5px;
}

header {
  background: lightgray;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
  color: #666666;
}
.bbox {
  display: block;
  text-decoration: none;
  border: 5px solid lightgray;
  padding: 10px;
  color: black;
  width: calc(33% - 10px);
  box-sizing: border-box;
  margin: 5px;
}

.bbox:hover {
  border: 5px solid gray;
}

.text-gray {
  color: lightgray;
}

#content {
  display: flex;
  flex-wrap: wrap;
}

#letterbox {
  display: flex;
  gap: 10px;
  padding-left: 5px;
  padding-top: 5px;
}

.letter {
  background-color: lightgray;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 800px) {
  .bbox {
    width: calc(50% - 10px);
  }
}

@media (max-width: 500px) {
  .bbox {
    width: calc(100% - 10px);
  }
}
